<ion-header [translucent]="false">
  <ion-toolbar color="dark">
    <ion-title>Berita Favorit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let berita of favoritBerita" [routerLink]="['/detil-berita', berita.id]" button>
      <ion-thumbnail slot="start">
        <img [src]="berita.foto.startsWith('http') ? berita.foto : 'https://ubaya.cloud/hybrid/160423183/img/' + berita.foto"
          alt="{{ berita.judul }}" (error)="berita.foto = 'https://ionicframework.com/docs/img/demos/thumbnail.svg'" />
      </ion-thumbnail>
      <ion-label>
        <h2 style="color: white">{{ berita.judul }}</h2>
        <p>{{ berita.penerbit }}</p>
        <ion-note color="medium">
          <ion-icon name="star" color="warning"></ion-icon>
          {{ berita.rating || 0 }} ({{ berita.jumlah_review || 0 }} review) {{berita.views}} kali dilihat user
        </ion-note>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="favoritBerita.length === 0" class="ion-text-center ion-padding">
    <ion-icon name="heart-dislike-outline" style="font-size: 64px; color: #ccc"></ion-icon>
    <p>Belum ada berita favorit saat ini.</p>
  </div>
</ion-content>