<ion-header [translucent]="true">
  <ion-searchbar
    animated="true"
    placeholder="Cari Berita"
    [(ngModel)]="beritaDicari"
    (keyup)="cariBeritaByJudul()"
    [ngStyle]="{color: 'black'}"
  >
  </ion-searchbar>

  <ion-segment class="tabs" [(ngModel)]="jenisTampilan" [scrollable]="true">
    <ion-segment-button 
      *ngFor="let kat of categories" 
      [value]="kat.id" 
      (click)="pilihKategori(kat.id)">
      <ion-label>{{ kat.nama }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
