<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-searchbar
      animated="true"
      placeholder="Cari Berita"
      [(ngModel)]="beritaDicari"
      (keyup)="cariBeritaByJudul()"
      [ngStyle]="{color: 'white'}"
    >
    </ion-searchbar>
  </ion-toolbar>

  <ion-toolbar color="dark">
    <div style="display: flex; align-items: center">
      <ion-segment
        class="tabs"
        [(ngModel)]="jenisTampilan"
        [scrollable]="true"
        style="flex: 1"
      >
        <ion-segment-button value="0" (click)="loadAllBerita()">
          <ion-label style="color: white">Semua</ion-label>
        </ion-segment-button>
        <ion-segment-button
          *ngFor="let kat of categories"
          [value]="kat.id"
          (click)="pilihKategori(kat.id)"
        >
            <ion-label style="color: white">{{ kat.nama }}</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-button fill="clear" color="light" (click)="menuKategori()">
        <ion-icon name="settings-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item
      *ngFor="let berita of (jenisTampilan === 0 && beritaDicari ? hasilPencarian : semuaBerita)"
      [routerLink]="['/detil-berita', berita.id]"
      button
      >
      <ion-thumbnail slot="start">
        <img
          [src]="berita.foto.startsWith('http') ? berita.foto : 'https://ubaya.cloud/hybrid/160423183/img/' + berita.foto"
          alt="{{ berita.judul }}"
          (error)="berita.foto = 'https://ionicframework.com/docs/img/demos/thumbnail.svg'"
        />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ berita.judul }}</h2>
        <p>{{ berita.penerbit }}</p>
        <ion-note color="medium">
          <ion-icon name="star" color="warning"></ion-icon>
          {{ berita.rating }} ({{ berita.jumlah_review}} review) {{berita.views}} kali dilihat user
        </ion-note>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="semuaBerita.length === 0" class="ion-text-center ion-padding">
    <ion-icon
      name="newspaper-outline"
      style="font-size: 64px; color: #ccc"
    ></ion-icon>
    <p>Belum ada berita tersedia</p>
  </div>
</ion-content>
